html, body {
  height: 80%;
  width: 80%;
  overflow: auto;
}

body{
  background-color: #000000;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 250px;
  margin-right: 100px;
  color: #ffd700;
}

title {
  background-color: grey;
  color: gold;
}

section-title {
  background-color: black;
  color: gold;
}

header{
  background-color: dark grey;
  color: #ffd700;
}

img{
  border: 1px solid #ffd700;
}

ul.nav1{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: auto;
  background-color: #000000;
}

li.nav2{
  float:center;
}

li.nav2 a{
  display: grid;
  color: #ffd700;
  text-align: center;
  padding: 24px 26px;
  text-decoration: f;
}

li.nav2 a:hover{
  background-color: #000000;
  color: #ffd700; 
}

button{
  background-color: #000000;
  color: #ffd700;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=submit] {
  background-color: #ffffff;
  color: #000000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form {
  border-radius: 5px;
}

table, th, td {
  border: 1px solid #ffd700;
}

.topnav {
  background-color: #000000;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ffd700;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black;
  color: gold;
}

.topnav a.active {
  background-color: gold;
  color: black;
  font-weight: bold;
}

label {
  background-color: gold;
  color: black;
}

input {
  background-color: gold;
  color: black;
}

footer {
  background-color: purple;
  color: gold;
}
